.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    transition: background-color .1s ease;
}

.item.clickable:hover {
    background-color: #333;
}

.item + .item {
    margin-top: 16px;
}