.container {
    margin-bottom: 8px;
    width: 100%;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.label {
    font-size: 12px;
    margin-bottom: 4px;
}

.label span {
    opacity: .5;
}

.group .row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex: 1 1 100%;
    width: 100%;
}

.group input {
    flex: 1 1 100%;
    background: var(--bg-highlight);
    border: 1px solid transparent;
    color: var(--text);
    padding: 8px;
    border-radius: 2px;
    transition: border .2s ease;
}

.group input[disabled] {
    background-color: var(--bg-semi);
    color: var(--text-faded);
}

.group input:focus,
.group:focus-within input {
    outline: none;
    border-bottom-color: var(--text-faded);
}

.group input ~ button {
    min-width: 0;
    background-color: var(--bg-semi);
    color: var(--text-faded);
    height: 33px;
}

.group input ~ button:hover {
    background-color: var(--accent);
    color: var(--text-invert);
}

.group input ~ button:active {
    background-color: var(--bg-highlight);
    color: var(--text-faded);
}