.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.item {
    cursor: pointer;
    width: 100%;
    box-shadow: inset 0px 0px 0px rgba( 0, 128, 255, 1 );
    transition: padding .2s ease, box-shadow .2s ease;

    &:hover {
        background-color: var(--bg-highlight);
    }

    :global(.list-item) {        
        padding: 16px;
    }
}

.backButton {    
    box-shadow: inset 0px 0px 0px rgba( 0, 128, 255, 1 );
    transition: padding .2s ease, box-shadow .2s ease;

    :global(.center-container) {        
        padding: 16px;
    }
}

.addButton {    
    padding: 16px;
}

.item:not(.folder):not(.backButton).hovered {
    padding-top: 100cqw;
}

.backButton.hovered,
.folder.hovered {
    box-shadow: inset 0px 0px 5px rgba( 0, 128, 255, 1 );
}

.dragged ~ .item:not(.folder):not(.backButton).hovered {
    padding-top: 16px;
    padding-bottom: 100cqw;
}