.spinner {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid currentColor;
    border-top-color: transparent;
    animation: turn .5s linear infinite;
}

@keyframes turn {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}