.list-item {
    cursor: pointer;
    width: 100%;
    box-shadow: inset 0px 0px 0px rgba( 0, 128, 255, 1 );
    transition: padding .2s ease, box-shadow .2s ease;
    padding: 16px;
}

.list-item:hover {
    background-color: var(--bg-highlight);
}