* {
    box-sizing: border-box;
}

:root {
    --normal-bg: #191919;
    --light-bg: #222222;
    --lighter-bg: #333333;
    
    --bg: var(--normal-bg);
    --bg-highlight: var(--light-bg);
    
    --normal-text: #969696;
    --lightest-text: #fff;
    
    --text: var(--normal-text);
    
    --primary: #f2994A;
    --primary-light: #f2c94c;
    
    --accent-light: #b36496;
    --accent-dark: #994b7c;
    
    --normal-border: var(--light-bg);
    --fade-border: var(--lighter-bg);
    --border: var(--normal-border);
}

html,
body,
#root,
.app {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

.center-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}